@font-face {
  font-family: 'NeueMachina-Regular';
  src: url('fonts/NeueMachina-Regular') format('woff2'),
    url('fonts/NeueMachina-Regular.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('fonts/GothamPro-Medium.woff2') format('woff2'),
    url('fonts/GothamPro-Medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.navigation {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.navigation-list {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
}
.navigation-list > li {
  margin-left: 24px;
}
.logo_text {
  font-size: 160px;
}
