@font-face {
  font-family: 'NeueMachina-Regular';
  src: url('fonts/NeueMachina-Regular') format('woff2'),
    url('fonts/NeueMachina-Regular.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('fonts/GothamPro-Medium.woff2') format('woff2'),
    url('fonts/GothamPro-Medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url('fonts/GothamPro-Medium.woff2') format('woff2'),
    url('fonts/GothamPro-Medium.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

